body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.navbar {
  background-color: #ffffff;
}

.logo {
  height: 50px;
  width: auto;
}

main {
  margin-bottom: 2rem;
}

.hero-custom {
  margin-top: 6em;
  padding-bottom: 4rem;
}

div.divider {
  border-bottom: 1px solid #000000;
  margin-bottom: 4rem;
}

.hero > h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero > h1 > span {
  color: #2e8b6a;
}

.btn {
  transition: all 0.2s;
  margin: 0.5rem;
  background-color: #1F5F4A;
  border-color: #8cc3a3;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #8cc3a3;
}

.index-text {
  margin-top: 1em;
  font-size: 4rem;
  font-weight: bold;
}

div > h2 > span {
  color: #2e8b6a;
}

h2.h1 {
  font-size: 3rem;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.stat-number {
  color: #2e8b6a;
}
