body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

main {
  background-image: linear-gradient(to top, #03540c, #9fe0a6);
}

.navbar-custom {
  background-color: #9fe0a6;
}

.navbar-text, .footer-text {
  color: #ffffff;
}

footer {
  background-color: #03540c;
  position: fixed;
  bottom: 0;
  width: 100%;
}